# System files
__pycache__/
*.py[cod]
.DS_Store

# Virtual environments
venv/
.env

# Data & Large files
data/uploads/
*.zip
*.rar

# Kaggle/Dataset
datasets/
data/data.zip

# Models
uploads/
data/models/*.pth
data/models/detector_part_*
*.pth
data/models/detector_part_*
__pycache__/
.DS_Store
